.container {
  background-color: var(--primary-color);
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & img {
    width: 33px;
    height: 33px;
  }

  & .logo {
    width: 64px;
    height: 64px;
  }

  & .menu {
    color: var(--secondary-color);
    display: flex;
    gap: 77px;
    font-family: "Hind Colombo", sans-serif;
    font-weight: 600;
    font-size: 18px;
  }

  & .pesquisa {
    display: flex;
    align-items: center;
    position: relative;
  }

  .input-com-lupa {
    padding-left: 40px; /* Adiciona espaço à esquerda para a lupa */
  }

  .pesquisa img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }

  & .perfil {
    display: flex;
    align-items: center;
  }
}

header {
  position: relative;
  z-index: 100;

  .search-results {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 8px;
    width: calc(100% - 20px);
    left: 10px;
    top: 100%;
    z-index: 99;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
  }

  .search-results div {
    padding: 10px;
    cursor: pointer;
  }

  .search-results div:hover {
    background-color: #142343;
  }
}

.search-results {
  max-height: 200px; /* Altura máxima antes de ativar a rolagem */
  overflow-y: auto; /* Ativa a rolagem vertical se necessário */
}

/* Estilo específico para a barra de rolagem dentro de search-results */
.search-results::-webkit-scrollbar {
  width: 8px;
}

.search-results::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.search-results::-webkit-scrollbar-track {
  background-color: #333;
}
